<h1>About</h1>
<div class="container">
  <div class="row">
    <div class="px-3 mx-auto">
      <p class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        たくさんのお客様の好みに自信をもってお応えできる、<br>
        様々なバリエーションのケーキをご用意しております。<br>
        全国に発送可能ですので、どこからでもご注文いただけます。<br>
        遠くの大切な人への記念のケーキとしてなど、お気軽にご注文ください。
　　　</p>
    </div>
  </div>
</div>
