<h4>ジャンル編集</h4>

<div>
  <!-- form_with部分 -->
  <%= form_with model: [:admin, @genre], local:true do |f| %>
    <p class="font-weight-bold">ジャンル名
      <%= f.text_field :name %>
      <%= f.submit '編集内容を保存', class: "btn btn-success" %>
    </p>
  <% end %>
</div>